/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');

/* ALL */
* {
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    user-select: none;
}

body {
    background-color: #000;
    background-image: url('../header/header_afbeelding_darker.png');
    background-repeat: no-repeat;
}