/* FOOTER START */
footer {
    display: flex;
    justify-content: space-around;
    background-color: #666;
  }

#navigeer {
    color: #fff;
}

#links {
    color: #fff;
}

#social {
    color: #fff;
}



a {
    text-decoration: none;
    color: #fff;
  }

#logof {
    height: 107px;
    width: 301px;
  }

#textboxf {
    color: #fff;
    width: 401px;
    height: 141px;
  }
/* FOOTER END */