/* FOOTER START */
footer {
    display: flex;
    justify-content: space-around;
    background-color: #666;
  }

  div {
    color: white;
  }

a {
    text-decoration: none;
    color: white;
  }

#logof {
    height: 107px;
    width: 301px;
  }

#textboxf {
    width: 401px;
    height: 141px;
  }
/* FOOTER END */